# .NET
bin/
obj/
*.user
*.suo
.vs/
backend/src/DevBlog.Api/devblog.db
backend/src/DevBlog.Api/devblog.db-shm
backend/src/DevBlog.Api/devblog.db-wal

# Angular
frontend/devblog-ui/node_modules/
frontend/devblog-ui/dist/
frontend/devblog-ui/.angular/

# Misc
.DS_Store
Thumbs.db
